html
  head
    title= 'Hello world'
  body
    h1= 'Hello world'
    hr
    div(style='overflow: scroll')
      img(src=imageSrc, style='width: 640px; height: 640px;')
    hr
    textarea(rows=30, cols=150)= documentSrc